@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('account.css');

:root {
    --white-color: #f6f6f6;
    --shadow-color: #c1c1c1;
    --black-color: #0c0c0c;
    --highlite-text-color: linear-gradient(90deg, rgba(38, 13, 193, 1) 0%, rgba(89, 0, 111, 1) 100%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Jura", sans-serif;
    font-weight: 900;
    font-size: 18px;
    background-color: var(--white-color);
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 900;
}

label {
    font-size: 22px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
}

button {
    padding: 5px 100px;

    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    background: var(--highlite-text-color);
    border: none;
    border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}